.modau-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modau-container.mostrar {
    display: flex;
}

.modau {
    background: rgba(51, 54, 73, 0.5);
    width: 21%;

    padding: 20px;
    border: 5px solid #FFF68F;
    box-shadow: 0 0 0 10px #FFF68F;
    position: relative;
}

@keyframes modau {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar.modau {
    animation: modau .3s;
}

.fechar {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #333649;
    background-color: #FFF68F;
    color: #333649;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
